<section class="main-features">
  <div class="container">
    <h2 class="heading">Our main features</h2>

    <!-- FEATURES START -->
    <div class="features">
      <!-- FEATURE 1 -->
      <div class="feature d-flex">
        <div class="icon-wrapper">
          <img src="./assets/images/icon.svg" alt="" aria-hidden="true" />
        </div>

        <div class="block-text">
          <h3 class="title">Accessibility recommendation</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corrupti
            explicabo libero amet! Architecto distinctio porro quis esse enim
            deserunt assumenda, voluptatum nihil sunt fugit voluptas mollitia
            odit eum iure!
          </p>
        </div>
      </div>

      <!-- FEATURE 2 -->
      <div class="feature d-flex">
        <div class="icon-wrapper">
          <img src="./assets/images/icon.svg" alt="" aria-hidden="true" />
        </div>

        <div class="block-text">
          <h3 class="title">Keyboard navigation</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corrupti
            explicabo libero amet! Architecto distinctio porro quis esse enim
            deserunt assumenda, voluptatum nihil sunt fugit voluptas mollitia
            odit eum iure!
          </p>
        </div>
      </div>

      <!-- FEATURE 3 -->
      <div class="feature d-flex">
        <div class="icon-wrapper">
          <img src="./assets/images/icon.svg" alt="" aria-hidden="true" />
        </div>

        <div class="block-text">
          <h3 class="title">Developper friendly</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corrupti
            explicabo libero amet! Architecto distinctio porro quis esse enim
            deserunt assumenda, voluptatum nihil sunt fugit voluptas mollitia
            odit eum iure!
          </p>
        </div>
      </div>

      <!-- FEATURE 4 -->
      <div class="feature d-flex">
        <div class="icon-wrapper">
          <img src="./assets/images/icon.svg" alt="" aria-hidden="true" />
        </div>

        <div class="block-text">
          <h3 class="title">Technical decumentation</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corrupti
            explicabo libero amet! Architecto distinctio porro quis esse enim
            deserunt assumenda, voluptatum nihil sunt fugit voluptas mollitia
            odit eum iure!
          </p>
        </div>
      </div>

      <!-- FEATURE 5 -->
      <div class="feature d-flex">
        <div class="icon-wrapper">
          <img src="./assets/images/icon.svg" alt="" aria-hidden="true" />
        </div>

        <div class="block-text">
          <h3 class="title">Responsive</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corrupti
            explicabo libero amet! Architecto distinctio porro quis esse enim
            deserunt assumenda, voluptatum nihil sunt fugit voluptas mollitia
            odit eum iure!
          </p>
        </div>
      </div>

      <!-- FEATURE 6 -->
      <div class="feature d-flex">
        <div class="icon-wrapper">
          <img src="./assets/images/icon.svg" alt="" aria-hidden="true" />
        </div>

        <div class="block-text">
          <h3 class="title">Ready to use</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corrupti
            explicabo libero amet! Architecto distinctio porro quis esse enim
            deserunt assumenda, voluptatum nihil sunt fugit voluptas mollitia
            odit eum iure!
          </p>
        </div>
      </div>
    </div>
    <!-- FEATURES END -->
  </div>
</section>
