<section class="recent-components">
  <div class="container">
    <h2 class="heading">Our recent components</h2>

    <!-- CARDS START -->
    <ul class="cards">
      <!-- CARD 1 -->
      <li>
        <a href="#" class="card">
          <div class="image-wrapper">
            <img class="image" src="./assets/images/header.svg" alt="" />
          </div>

          <div class="block-text">
            <div class="text">
              <h3 class="title">Amazing&nbsp;Slider</h3>

              <p class="subtitle">Carousel</p>
            </div>

            <div class="icon-wrapper">
              <img
                src="./assets/icons/arrow-right.svg"
                alt=""
                aria-hidden="true"
              />
            </div>
          </div>
        </a>
      </li>

      <!-- CARD 2 -->
      <li>
        <a href="#" class="card">
          <div class="image-wrapper">
            <img class="image" src="./assets/images/header.svg" alt="" />
          </div>

          <div class="block-text">
            <div class="text">
              <h3 class="title">Block&nbsp;Video</h3>

              <p class="subtitle">Video</p>
            </div>

            <div class="icon-wrapper">
              <img
                src="./assets/icons/arrow-right.svg"
                alt=""
                aria-hidden="true"
              />
            </div>
          </div>
        </a>
      </li>

      <!-- CARD 3 -->
      <li>
        <a href="#" class="card">
          <div class="image-wrapper">
            <img class="image" src="./assets/images/header.svg" alt="" />
          </div>

          <div class="block-text">
            <div class="text">
              <h3 class="title">Card&nbsp;Style&nbsp;1</h3>

              <p class="subtitle">Card</p>
            </div>

            <div class="icon-wrapper">
              <img
                src="./assets/icons/arrow-right.svg"
                alt=""
                aria-hidden="true"
              />
            </div>
          </div>
        </a>
      </li>

      <!-- CARD 4 -->
      <li>
        <a href="#" class="card">
          <div class="image-wrapper">
            <img class="image" src="./assets/images/header.svg" alt="" />
          </div>

          <div class="block-text">
            <div class="text">
              <h3 class="title">Illustrative</h3>

              <p class="subtitle">Tab&nbsp;Panel</p>
            </div>

            <div class="icon-wrapper">
              <img
                src="./assets/icons/arrow-right.svg"
                alt=""
                aria-hidden="true"
              />
            </div>
          </div>
        </a>
      </li>

      <!-- CARD 5 -->
      <li>
        <a href="#" class="card">
          <div class="image-wrapper">
            <img class="image" src="./assets/images/header.svg" alt="" />
          </div>

          <div class="block-text">
            <div class="text">
              <h3 class="title">Elemental</h3>

              <p class="subtitle">Section</p>
            </div>

            <div class="icon-wrapper">
              <img
                src="./assets/icons/arrow-right.svg"
                alt=""
                aria-hidden="true"
              />
            </div>
          </div>
        </a>
      </li>

      <!-- CARD 6 -->
      <li>
        <a href="#" class="card">
          <div class="image-wrapper">
            <img class="image" src="./assets/images/header.svg" alt="" />
          </div>

          <div class="block-text">
            <div class="text">
              <h3 class="title">Easy&nbsp;Slide</h3>

              <p class="subtitle">Accordeon</p>
            </div>

            <div class="icon-wrapper">
              <img
                src="./assets/icons/arrow-right.svg"
                alt=""
                aria-hidden="true"
              />
            </div>
          </div>
        </a>
      </li>
    </ul>

    <a href="#" class="btn"> View all components </a>
    <!-- CARDS END -->
  </div>
</section>
