<section class="recent-templates">
  <div class="container">
    <h2 class="heading">Our recent templates</h2>

    <div class="content">
      <div class="block-text d-flex">
        <div class="text">
          <h3 class="title">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </h3>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            maxime maiores ullam neque quaerat ducimus perferendis ad,
            consectetur porro facilis repudiandae omnis! Expedita vel reiciendis
            nulla ad nobis fugiat porro amet ipsa maxime eos dolorem, illum
            inventore nesciunt quidem sint delectus consectetur minus
            reprehenderit ea! Reprehenderit quasi atque officiis consequatur!
          </p>
        </div>

        <a href="#" class="btn"> View all templates </a>
      </div>

      <div class="block-image d-flex">
        <img src="./assets/images/header.svg" alt="" />
      </div>
    </div>
  </div>
</section>
