@use "../theme/colors" as *;
@use "./contrast" as *;
@use "./media_queries" as *;

@mixin color-scheme($bgColor) {
  --background-clr: #{$bgColor};
  --text-clr: #{contrast($bgColor, $lightColor, $darkColor)};

  background-color: var(--background-clr);
  color: var(--text-clr);

  @media (prefers-color-scheme: dark) {
    @if $bgColor == $lightColor {
      --background-clr: #{$darkColor};
      --text-clr: #{$lightColor};
    } @else if $bgColor == $darkColor {
      --background-clr: #{lighten($darkColor, 5)};
      --text-clr: #{contrast(lighten($darkColor, 5), $lightColor, $darkColor)};
    } @else {
      --background-clr: #{darken($bgColor, 20)};
      --text-clr: #{contrast(darken($bgColor, 20), $lightColor, $darkColor)};
    }
  }
}
