@use "sass:color";
@use "sass:math";

/*______________________________________________________________________
  ------------------------- Contrast (Func.) ---------------------------
  ______________________________________________________________________ */

/* Calculate brightness value
----------------------------------*/

@function brightness($color) {
  $lightness: (color.red($color) + color.green($color) + color.blue($color));
  @return math.div($lightness, 255 * 3);
}

/* Calculate brightness ratio
----------------------------------*/

@function brightness_ratio($base, $color) {
  @return math.abs(brightness($base) - brightness($color));
}

/* Compare colors to higher contrast
----------------------------------------*/

@function contrast($base, $color1: white, $color2: black) {
  @return if(
    brightness_ratio($base, $color1) > brightness_ratio($base, $color2),
    $color1,
    $color2
  );
}
