@use '../theme' as *;
@use '../utilities' as *;

* {
  --focus-color: currentColor;

  box-sizing: border-box;

  &:focus,
  &:focus-visible {
    outline-offset: em(5);
    outline: 2px solid var(--focus-color);
    transition: all $transition-in-out;
  }
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
article,
footer,
header,
menu,
nav,
section,
summary,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a,
button {
  all: unset;
  color: inherit;
  box-sizing: border-box;
  cursor: pointer;
}
