@use "../theme" as *;
@use "../utilities" as *;

body {
  font-family: $primaryFontRegular;
  font-size: rem(16);
  font-weight: normal;
  line-height: normal;
}

strong {
  font-family: $primaryFontMedium;
  font-weight: normal;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: $primaryFontBold;
  font-weight: normal;
  line-height: 1;
  text-align: start;

  strong {
    font-family: inherit;
    font-weight: 700;
  }
}

h2 {
  font-size: rem(32);

  @include mq-rules($ps-mobile) {
    font-size: rem(25);
  }
}

main p {
  font-size: rem(18);

  @include mq-rules($ps-mobile) {
    font-size: rem(16);
  }
}
