@use '../theme' as *;
@use '../utilities' as *;

body {
  font-size: rem(18);
  font-family: $primaryFontRegular;
  font-weight: normal;
  line-height: normal;
  text-align: start;

  @include mq($ps-mobile) {
    font-size: rem(16);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondaryFontBold;
  font-weight: normal;
  line-height: 1.2;
  text-align: start;
}

h1 {
  font-size: rem(32);

  @include mq($ps-mobile) {
    font-size: rem(25);
  }
}

h2 {
  font-size: rem(24);
  margin-block-end: rem(20);

  @include mq($ps-mobile) {
    font-size: rem(20);
  }
}

h3 {
  font-size: rem(24);

  @include mq($ps-mobile) {
    font-size: rem(20);
  }

  .card & {
    flex-basis: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

p {
  line-height: 1.333em;

  header & {
    max-inline-size: 100ch;
    margin-bottom: 65px;

    @include mq($ps-mobile) {
      max-inline-size: none;
    }
  }
}

a {
  transition: all $transition-in-out;

  footer &:nth-child(2) {
    &:hover,
    &:focus,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}
