<!-- FOOTER START -->
<footer>
  <div class="container">
    <a data-i18n="logo.link" data-i18n-attr="href" href="..." target="_blank" rel="noopener">
      <div class="logo-wrapper">
        <img
          class="logo"
          src="./assets/images/logo.svg"
          data-i18n="logo.alt"
          data-i18n-attr="alt"
          alt="..."
        />
      </div>
    </a>

    <a data-i18n="logo.link" data-i18n-attr="href" href="..." target="_blank" rel="noopener">
      www.ipedis.com
    </a>
  </div>
</footer>
<!-- FOOTER END -->
