<!-- HEADER START -->
<header>
  <div class="container">
    <div id="lp-content" class="head">
      <div class="logo-wrapper">
        <a href="/WC-Homepage">
          <img
            class="logo"
            src="./assets/images/logo-white.svg"
            data-i18n="logo.alt"
            data-i18n-attr="alt"
            alt="..."
          />
        </a>
      </div>

      <div class="separator"></div>

      <h1 data-i18n="header.title.main"></h1>
    </div>

    <p data-i18n="header.text"></p>
  </div>
</header>
<!-- HEADER END -->
