<header class="header">
  <!-- HEADER START -->
  <div class="container">
    <!-- BLOCK TEXT -->
    <div class="block-text d-flex">
      <div class="text">
        <h1 class="title">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </h1>

        <p class="text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita id
          earum ab, voluptatem eos voluptate facilis distinctio quos assumenda
          ullam nemo eligendi dolor consequatur fugit illo ad mollitia quae.
          Eaque totam similique saepe magnam quaerat quia odit, assumenda
          accusamus dolores.
        </p>
      </div>

      <a href="#" class="btn"> View all components </a>
    </div>

    <!-- BLOCK IMAGE -->
    <div class="block-image d-flex">
      <img src="./assets/images/header.svg" alt="" />
    </div>
  </div>
  <!-- HEADER END -->
</header>
