<!-- MAIN START -->
<main class="main-content">
  <section>
    <div class="container">
      <!-- SIDEBAR START -->
      <aside class="sidebar-menu">
        <!-- GLOBAL ELEMENTS -->
        <h2>
          Global&nbsp;Elements
          <span><img src="assets/icons/down.svg" aria-hidden="true" alt="" /></span>
        </h2>
        <ul class="global-elements">
          <li>
            <button aria-label="Accordeon - 8 components available">
              Accordeon <span class="num">8</span>
            </button>
          </li>

          <li>
            <button aria-label="Sliders (Carousel) - 6 components available" aria-current="true">
              Sliders&nbsp;(Carousel) <span class="num">6</span>
            </button>
          </li>

          <li>
            <button aria-label="Tab Panels - 20 components available">
              Tab&nbsp;Panels <span class="num">20</span>
            </button>
          </li>

          <li>
            <button aria-label="Modals - 25 components available">
              Modals <span class="num">25</span>
            </button>
          </li>

          <li>
            <button aria-label="Cards - 14 components available">
              Cards <span class="num">14</span>
            </button>
          </li>

          <li>
            <button aria-label="Progress Bar / Timeline - 20 components available">
              Progress&nbsp;Bar&nbsp;/ Timeline <span class="num">20</span>
            </button>
          </li>

          <li>
            <button aria-label="Navbar(Menu) - 18 components available">
              Navbar&nbsp;(Menu) <span class="num">18</span>
            </button>
          </li>

          <li>
            <button aria-label="Breadscrumb / Skip Links - 3 components available">
              Breadscrumb&nbsp;/ Skip&nbsp;Links <span class="num">3</span>
            </button>
          </li>

          <li>
            <button aria-label="Language list / Dropdown - 12 components available">
              Language&nbsp;list&nbsp;/ Dropdown <span class="num">12</span>
            </button>
          </li>

          <li>
            <button aria-label="Tooltips - 2 components available">
              Tooltips <span class="num">2</span>
            </button>
          </li>
        </ul>

        <!-- FORMS INPUT -->
        <h2>
          Forms&nbsp;Input
          <span><img src="assets/icons/down.svg" aria-hidden="true" alt="" /></span>
        </h2>
        <ul class="forms-input">
          <li>
            <button aria-label="Checkbox - 8 components available">
              Checkbox <span class="num">8</span>
            </button>
          </li>

          <li>
            <button aria-label="Toggle - 6 components available">
              Toggle <span class="num">6</span>
            </button>
          </li>

          <li>
            <button aria-label="Forms - 20 components available">
              Forms <span class="num">20</span>
            </button>
          </li>

          <li>
            <button aria-label="Dropdown - 25 components available">
              Dropdown <span class="num">25</span>
            </button>
          </li>
        </ul>

        <!-- LANDING PAGE -->
        <h2>
          Landing&nbsp;Page
          <span><img src="assets/icons/down.svg" aria-hidden="true" alt="" /></span>
        </h2>
        <ul class="landing-Page">
          <li>
            <button aria-label="Accordeon - 8 components available">
              Blockquote <span class="num">8</span>
            </button>
          </li>

          <li>
            <button aria-label="Sliders (Carousel) - 6 components available">
              Hover&nbsp;Animation <span class="num">6</span>
            </button>
          </li>
        </ul>
      </aside>
      <!-- SIDEBAR END -->

      <!-- ITEMS START -->
      <div class="cards-wrapper">
        <ul class="cards">
          <!-- CARD 1 -->
          <li class="card">
            <a href="tab-panel.html" title="Slider style 1">
              <div class="image-wrapper">
                <img src="./assets/images/tab-panel.png" alt="" class="image" />
              </div>
              <div class="text-wrapper">
                <h3 class="title">Tab&#8209;Panel</h3>
                <div class="icon-wrapper">
                  <img src="./assets/icons/arrow-right.svg" alt="" aria-hidden="true" />
                </div>
              </div>
            </a>
          </li>

          <!-- CARD 2 -->
          <li class="card">
            <a href="accordeon.html" title="Slider style 2">
              <div class="image-wrapper">
                <img src="./assets/images/accordeon.png" alt="" class="image" />
              </div>
              <div class="text-wrapper">
                <h3 class="title">Accordeon</h3>
                <div class="icon-wrapper">
                  <img src="./assets/icons/arrow-right.svg" alt="" aria-hidden="true" />
                </div>
              </div>
            </a>
          </li>

          <!-- CARD 3 -->
          <li class="card">
            <a href="blockquote.html" title="Slider style 3">
              <div class="image-wrapper">
                <img src="./assets/images/header.svg" alt="" class="image" />
              </div>
              <div class="text-wrapper">
                <h3 class="title">Slider&nbsp;style&nbsp;3</h3>
                <div class="icon-wrapper">
                  <img src="./assets/icons/arrow-right.svg" alt="" aria-hidden="true" />
                </div>
              </div>
            </a>
          </li>

          <!-- CARD 4 -->
          <li class="card">
            <a href="slider.html" title="Slider style 4">
              <div class="image-wrapper">
                <img src="./assets/images/header.svg" alt="" class="image" />
              </div>
              <div class="text-wrapper">
                <h3 class="title">Slider&nbsp;style&nbsp;4</h3>
                <div class="icon-wrapper">
                  <img src="./assets/icons/arrow-right.svg" alt="" aria-hidden="true" />
                </div>
              </div>
            </a>
          </li>

          <!-- CARD 5 -->
          <li class="card">
            <a href="slider_v2.html" title="Slider style 5">
              <div class="image-wrapper">
                <img src="./assets/images/header.svg" alt="" class="image" />
              </div>
              <div class="text-wrapper">
                <h3 class="title">Slider&nbsp;style&nbsp;5</h3>
                <div class="icon-wrapper">
                  <img src="./assets/icons/arrow-right.svg" alt="" aria-hidden="true" />
                </div>
              </div>
            </a>
          </li>

          <!-- CARD 6 -->
          <li class="card">
            <a href="#" title="Slider style 6">
              <div class="image-wrapper">
                <img src="./assets/images/header.svg" alt="" class="image" />
              </div>
              <div class="text-wrapper">
                <h3 class="title">Slider&nbsp;style&nbsp;6</h3>
                <div class="icon-wrapper">
                  <img src="./assets/icons/arrow-right.svg" alt="" aria-hidden="true" />
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- ITEMS END -->
    </div>
  </section>
</main>
<!-- MAIN END -->
