<nav class="navigation" aria-label="main navigation" role="navigation">
  <!-- NAVIGATION START -->
  <div class="container">
    <!-- LOGO -->
    <a href="/" class="logo-wrapper">
      <img
        src="./assets/images/logo.svg"
        alt="Ipedis - Go to homepage"
        class="logo"
      />
    </a>

    <!-- MENU -->
    <ul class="menu d-flex d-flex--v">
      <li class="link d-flex d-flex--v active">
        <a href="#" aria-current="page"> Home </a>
      </li>

      <li class="link d-flex d-flex--v">
        <a href="#"> Our&nbsp;features </a>
      </li>

      <li class="link d-flex d-flex--v">
        <a href="#"> Components </a>
      </li>

      <li class="link d-flex d-flex--v">
        <a href="#"> Templates </a>
      </li>
    </ul>

    <!-- LANGUAGES -->
    <ul class="languages d-flex d-flex--v">
      <li class="lang">
        <a href="#" aria-label="français">FR</a>
      </li>

      <li class="separator"></li>

      <li class="lang active">
        <a href="#" aria-label="english" aria-current="page">EN</a>
      </li>
    </ul>
  </div>
  <!-- NAVIGATION END -->
</nav>
