@use "../theme" as *;
@use "../utilities" as *;

.btn {
  --btn-bg-color: #{$primaryColor};
  --btn-txt-color: #{contrast($primaryColor, $lightColor, $darkColor)};
  --focus-color: var(--btn-bg-color);

  background-color: var(--btn-bg-color);
  color: var(--btn-txt-color);

  display: block;
  inline-size: fit-content; // Width
  border-radius: rem(5);
  padding-inline: 2em;
  padding-block: 0.85em;
  transition: background-color $transition-in-out, color $transition-in-out;

  &:hover,
  &:focus-visible {
    --btn-bg-color: #{$darkColor};
    --btn-txt-color: #{contrast($darkColor, $lightColor, $darkColor)};
  }
}
