@use '../theme' as *;
@use '../utilities' as *;

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(rem(440), 100%), 1fr));
  grid-auto-rows: 1fr;
  gap: rem(40);
  block-size: 100%;

  .card {
    background-color: $cardBackgroundColor;
    color: $cardTextColor;
    block-size: min(rem(360), 100%);
    box-shadow: 0 0 rem(12) 0 fade(darken($darkColor, 100), 20);
    border-radius: rem(15);
    border: 2px solid $cardBackgroundColor;
    will-change: transform;
    transition: transform $transition-in-out;
    overflow: hidden;

    a {
      inline-size: 100%;
      block-size: 100%;
    }

    &:hover,
    &:focus-within {
      transform: scale(1.03);
      transition: transform $transition-in-out, outline $transition-in-out,
        outline-offset $transition-in-out;
    }

    &:focus-within {
      outline-offset: em(5);
      outline: 2px solid var(--focus-color);
    }

    .image-wrapper {
      padding-inline: rem(20);
      padding-block: rem(35);
      block-size: rem(260);
      background-color: darken($cardBackgroundColor, 2);

      img {
        block-size: 100%;
        inline-size: 100%;
        max-block-size: 100%;
        max-inline-size: 100%;
        object-fit: contain;
        aspect-ratio: 16/9;
      }
    }

    .text-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(30);
      border-block-start: 2px solid darken($cardBackgroundColor, 9);
    }

    .icon-wrapper {
      --icon-size: #{rem(45)};
      inline-size: var(--icon-size);
      block-size: var(--icon-size);

      img {
        block-size: 100%;
        inline-size: 100%;
        max-block-size: 100%;
        max-inline-size: 100%;
        object-fit: contain;
        aspect-ratio: 1/1;
      }
    }
  }
}
