@use '../theme' as *;
@use '../utilities' as *;

footer {
  background-color: $footerBackgroundColor;
  color: $footerTextColor;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: $navHeight;
  }
}
