@use '../theme' as *;
@use '../utilities' as *;

footer {
  background-color: $footerBackgroundColor;
  color: $footerTextColor;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: $navHeight;
    padding-block: 1rem;
  }

  .logo-wrapper {
    inline-size: 100%;
    block-size: $navHeight - 2rem; // Height - Padding

    .logo {
      block-size: 100%;
      inline-size: 100%;
      max-block-size: 100%;
      max-inline-size: 100%;
      object-fit: contain;
    }
  }
}
