@use '../theme' as *;
@use '../utilities' as *;

header {
  background-color: $headerBackgroundColor;
  color: $headerTextColor;

  .head {
    display: flex;
    align-items: flex-end;
    gap: rem(30);
    margin-block-end: rem(60);

    .separator {
      block-size: rem(24);

      &::before {
        inset-block-start: em(-8);
      }
    }

    .logo-wrapper {
      inline-size: rem(250);
      block-size: rem(90);

      .logo {
        block-size: 100%;
        inline-size: 100%;
        max-block-size: 100%;
        max-inline-size: 100%;
        object-fit: contain;
      }
    }
  }
}
