@use '../theme' as *;
@use '../utilities' as *;

.main-content {
  .container {
    display: grid;
    grid-template-columns: rem(360) 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    gap: rem(40);
    min-block-size: $headerHeight;
  }

  .sidebar-menu {
    block-size: clamp(100%, 100vh, rem(1162));
  }

  .cards-wrapper {
    block-size: 100%;
  }
}
