@use '../theme' as *;
@use '../utilities' as *;

#skip-links {
  transform: translateY(-100vh);
  background-color: $bodyTextColor;
  color: contrast($bodyTextColor, $lightColor, $darkColor);
  align-items: start;
  z-index: 99999;
  padding-block-end: 0;

  &:focus-within {
    padding: $containerPadding;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
}

.show-on-focus {
  &:focus,
  &:focus-visible {
    clip-path: none;
    position: static;
    inline-size: fit-content;
    block-size: fit-content;
  }
}
