@use '../theme' as *;
@use '../utilities' as *;

#skip-links {
  position: absolute;
  inset-block-start: 0; // Top
  inset-inline: 0; // Left and Right
  background-color: $bodyTextColor;
  color: contrast($bodyTextColor, $lightColor, $darkColor);
  z-index: 99999;

  &:focus-within {
    padding: 5vmin;
  }
}

.show-on-focus {
  &:focus,
  &:focus-visible {
    clip-path: none;
    position: static;
    inline-size: fit-content;
    block-size: fit-content;
  }
}
