@use '../theme' as *;
@use '../utilities' as *;

ip-tab-panel {
  display: block;
  inline-size: 100%;
  // block-size: rem(875);
  background-color: $tabBackgroundColor;
  border-radius: em(15);
  box-shadow: 0 0 rem(12) fade(darken($darkColor, 100), 25);
  overflow: hidden;
  box-sizing: border-box;

  &::part(tab-text) {
    font-family: $primaryFontRegular;
  }
}

.acc-btn {
  background: red!important;
}

.ip-content {
  font-family: $primaryFontRegular;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darken($tabBackgroundColor, 3);
  border-block-start: 2px solid darken($tabBackgroundColor, 9);
  box-sizing: border-box;

  ip-tab-panel {
    display: contents;
    inline-size: 100%;
    block-size: 100%;
    background-color: unset;
    border-radius: 0;
    box-shadow: none;
    overflow: visible;
  }


}

.main-tab-panel {
  &::part(tab-container) {
    padding-inline: em(30);
    padding-block: em(25);
    border-block-end: 2px solid darken($lightColor, 9);
    justify-content: flex-end;
  }

  &::part(tab-btn-list) {
    gap: rem(12);
  }

  &::part(tab-btn) {
    flex-direction: row;
    gap: 1em;
    color: $tabTextColor;
    border: 2px solid darken($lightColor, 9);
    border-radius: em(4);
    padding: em(10);
    text-align: center;
    white-space: nowrap;

  }

  &::part(tab-icon) {
    inline-size: rem(25);
    block-size: rem(25);
  }

  &::part(tab-btn-active) {
    border-color: $darkColor;
    background-color: $darkColor;
    color: $lightColor;
  }
}

.ip-content {
  padding: 3.125em;
  block-size: 100%;
  inline-size: 100%;
  border-radius: 0.9375em;
  box-shadow: 0 0 0.75rem rgba(0,0,0,.25);
  overflow: hidden;
  box-sizing: border-box;

  @include mq($ps-mobile) {
    padding: em(30);
  }

  &.preview {
    padding-inline: rem(200);

    @include mq($ps-tablet) {
      padding-inline: em(30);
    }
  }
}

.ip-content:has(.demo-tab-panel) {
  overflow-y: visible;
}

.ip-content.tab-detail {
  box-shadow: none;
  padding: 0;
  padding-top: 3.125em;
}

.demo-tab-panel {
  &::part(tab-container) {
    justify-content: space-between;
  }

  &::part(tab-panel-title) {
    font-size: rem(24);
    font-family: "OpenSans-Bold", sans-serif;
  }

  > .ip-content {
    display: flex;
    align-items: center;
    padding-block-start: em(50);
    gap: rem(30);

    img {
      border-radius: 0.625em;
      object-fit: cover;
    }

    .ip-content-desc {
      margin-left: 3.125em;
      margin-right: 25px;
    }

    .ip-content-title {
      margin-block-start: 2.188em;
      font-family: $primaryFontBold;
      font-size: 1.125rem;
      color: #b00057;
      text-transform: uppercase;
    }

    .ip-content-subtitle {
      margin-top: 15px;
      font-family: $primaryFontBold;
      font-size: 42px;
      color: #b00057;
    }

    .ip-content-text {
      margin-top: 20px;
      font-family: $primaryFontRegular;
      font-size: 18px;
      color: #2e3243;
    }

    .ip-content-btn {
      --focus-color: #{$darkColor};

      margin-top: 20px;
      font-family: $primaryFontBold;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 16px;
      border: none;
      border-radius: 4px;
      background-color: #b00057;
      color: #ffffff;
      cursor: pointer;
    }

    .ip-content-btn img {
      margin-left: 15px;
      width: 14px;
      height: 15px;
    }
  }
}

.ip-content:has(.code-tab-panel) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.code-tab-panel {
  &::part(tab-container) {
    justify-content: flex-start;
    padding-block-end: rem(18);
    border-block-end: rem(4) solid darken($lightColor, 9);

    @include mq($ps-mobile) {
      align-items: flex-start;
    }
  }

  &::part(tab-btn-list) {
    gap: em(50);

    @include mq($ps-mobile) {
      gap: em(20);
    }
  }

  &::part(tab-btn) {
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 0;
    font-family: $primaryFontRegular;
    font-size: rem(28);

    &::before {
      content: '';
      position: absolute;
      inset-block-end: rem(-23);
      inset-inline: 0;
      block-size: rem(4);
      inline-size: 0;
      background-color: $primaryColor;
      transition: all 0.3s ease-in-out;
    }
  }

  &::part(tab-text) {
    @include mq($ps-mobile) {
      display: block;
      font-size: rem(20);
    }
  }

  &::part(tab-btn-active) {
    background-color: transparent;
    color: $primaryColor;

    &::before {
      inline-size: 100%;
    }
  }

  pre {
    color: darken($tabBackgroundColor, 61);
    font-family: $primaryFontRegular;

    .class {
      color: $primaryColor;
      font-weight: bold;
    }
  }

  > .ip-content {
    display: block;
    min-block-size: 100%;
    block-size: rem(700);
    overflow-y: auto;
  }
}

.accessibility-panel {
  flex-direction: column;
  align-items: unset !important;
  justify-content: unset !important;
  overflow-y: auto;

  .header {
    font-family: $primaryFontRegular;
    font-size: rem(38);
    margin-block-end: rem(50);
  }

  .title {
    font-family: $primaryFontBold;
    color: $primaryColor;
    font-size: rem(20);
    margin-block-end: rem(30);
  }

  .guidelines-link {
    color: darken($tabBackgroundColor, 61);
    margin-block-start: 2em;

    a {
      color: $primaryColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .arrow-list {
    list-style-type: none;
    padding-inline-start: rem(20);
    margin-block-end: rem(30);

    li {
      position: relative;
      padding-inline-start: em(30);
      color: darken($tabBackgroundColor, 61);
      margin-block-end: rem(30);

      &:last-child {
        margin-block-end: 0;
      }

      &::before {
        content: '';
        position: absolute;
        inset-block-start: em(5);
        inset-inline-start: 0;
        inline-size: em(15);
        aspect-ratio: 1/1;
        background-image: url('../icons/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200%;
        color: $primaryColor;
        fill: currentColor;
      }
    }
  }
}

@media (max-width: 1200px) {
  .demo-tab-panel::part(tab-btn) {
    text-align: center;
    white-space: nowrap;
  }
  .demo-tab-panel::part(tab-container) {
    flex-direction: column;
  }
  .demo-tab-panel > .ip-content .ip-content-subtitle {
    font-size: 32px;
  }
  .demo-tab-panel > .ip-content .ip-content-desc {
    margin: 0;
  }
  .demo-tab-panel > .ip-content .ip-content-title {
    margin-block-start: 0;
  }
}

@media (max-width: 991px) {
  .demo-tab-panel > .ip-content {
    flex-direction: column;
    border-radius: 0;
  }
  .ip-content {
    display: block;
  }
  .demo-tab-panel::part(tab-panel-title) {
      margin-top: 0;
  }
}





