<!-- MAIN START -->
<main>
    <section>
        <div class="container">

            <div style="display: flex; justify-content: center; margin-bottom: 50px; margin-top: 50px;">
                <button
                        style="
          padding-block: 0.5em;
          padding-inline: 1em;
          margin-inline-end: 1em;
          background-color: antiquewhite;
          color: black;
          border-radius: 5px;
        "
                >
                    Click me
                </button>
                <button
                        style="
          padding-block: 0.5em;
          padding-inline: 1em;
          margin-inline-end: 1em;
          background-color: antiquewhite;
          color: black;
          border-radius: 5px;
        "
                >
                    Click me
                </button>
            </div>

            <div style="max-width: 580px; height: 400px; margin: 50px auto">
                <ip-slider-sl-3
                    slide-play-icon="assets/images/play.svg"
                    slide-pause-icon="assets/images/pause.svg"
                    slides='[
                        {"imgPath": "assets/images/slide-3-1.png", "link": "11111", "title": "1. World cup"},
                        {"imgPath": "assets/images/slide-3-2.png", "link": "22222", "title": "2. Argentina"},
                        {"imgPath": "assets/images/slide-3-3.png", "link": "33333", "title": "3. Brasil"},
                        {"imgPath": "assets/images/slide-3-4.png", "link": "44444", "title": "4. Croatie"},
                        {"imgPath": "assets/images/slide-3-5.png", "link": "55555", "title": "5. England"}
                      ]'
                                >
                </ip-slider-sl-3>
            </div>


            <div style="display: flex; justify-content: center; margin-top: 100px;">
                <button
                        style="
            padding-block: 0.5em;
            padding-inline: 1em;
            margin-inline-end: 1em;
            background-color: antiquewhite;
            color: black;
            border-radius: 5px;
          "
                >
                    Click me
                </button>
                <button
                        style="
          padding-block: 0.5em;
          padding-inline: 1em;
          margin-inline-end: 1em;
          background-color: antiquewhite;
          color: black;
          border-radius: 5px;
        "
                >
                    Click me
                </button>
            </div>

        </div>
    </section>
</main>
<!-- MAIN END -->
