/*=================================FLEX=================================*/

.d-flex {
  display: flex;

  &--v {
    align-items: center;
  }

  &--h {
    justify-content: center;
  }

  &--vh {
    align-items: center;
    justify-content: center;
  }
}
