@use '../theme' as *;
@use '../utilities' as *;

.nbsp {
  white-space: nowrap;
}

.sr-only {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  inline-size: 1px; // Width
  block-size: 1px; // Height
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}

.separator {
  position: relative;
  block-size: em(25);

  &::before {
    content: '';
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 1px;
    block-size: 100%;
    background-color: currentColor;
  }
}
