@use "../utilities/fade" as *;

/*______________________________________________________________________
  ------------------------------ COLORS --------------------------------
  ______________________________________________________________________ */

/* Main Colors
----------------------------------*/
$primaryColor: #e34405;
$secondaryColor: #0066d3;

/* Neutral Colors
----------------------------------*/
$lightColor: #ffffff;
$darkColor: #1f1f1f;

/* General Colors
----------------------------------*/
$bodyBackgroundColor: $lightColor;
// $bodyTextColor: contrast($bodyBackgroundColor, $lightColor, $darkColor);

$navBackgroundColor: $lightColor;
// $navTextColor: contrast($navBackgroundColor, $lightColor, $darkColor);

$headerBackgroundColor: fade(darken($darkColor, 100), 70);
// $headerTextColor: contrast($headerBackgroundColor, $lightColor, $darkColor);

$footerBackgroundColor: $darkColor;
// $footerTextColor: contrast($footerBackgroundColor, $lightColor, $darkColor);
