@use "../utilities" as *;

/*______________________________________________________________________
  ------------------------------ COLORS --------------------------------
  ______________________________________________________________________ */

/* Main Colors
----------------------------------*/
$primaryColor: #b00057;
$secondaryColor: #0f8570;
$tertiaryColor: #2d2b6a;

/* Neutral Colors
----------------------------------*/
$lightColor: #ffffff;
$paleGreyColor: #efefef;
$greyColor: #5f5f61;
$darkColor: #2e3243;

/* General Colors
----------------------------------*/
$bodyBackgroundColor: $lightColor;
$bodyTextColor: contrast($bodyBackgroundColor, $lightColor, $darkColor);

$navBackgroundColor: $lightColor;
$navTextColor: contrast($navBackgroundColor, $lightColor, $darkColor);

$headerBackgroundColor: $secondaryColor;
$headerTextColor: contrast($headerBackgroundColor, $lightColor, $darkColor);

$mainBackgroundColor: $bodyBackgroundColor;
$mainTextColor: contrast(
  $mainBackgroundColor,
  fade($lightColor, 70),
  $greyColor
);

$recentComponentBackgroundColor: $tertiaryColor;
$recentComponentTextColor: contrast(
  $recentComponentBackgroundColor,
  $lightColor,
  $darkColor
);

$cardBackgroundColor: $recentComponentTextColor;
$cardTextColor: contrast($cardBackgroundColor, $lightColor, $darkColor);

$footerBackgroundColor: $tertiaryColor;
$footerTextColor: contrast($footerBackgroundColor, $lightColor, $darkColor);
