@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../fonts/Nunito-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$primaryFontRegular: 'OpenSans-Regular', sans-serif;
$primaryFontBold: 'OpenSans-Bold', sans-serif;
$secondaryFontBold: 'Nunito-Bold', sans-serif;