@use "./colors" as *;
@use "./sizes" as *;
@use "../utilities" as *;

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
article,
footer,
header,
menu,
nav,
section,
summary,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: $headerHeight;
  @include color-scheme($bodyBackgroundColor);
}

nav {
  @include color-scheme($navBackgroundColor);
}

footer {
  @include color-scheme($footerBackgroundColor);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a,
button,
input[type="submit"] {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}
