//transition
$general-transition-in: 300ms ease-in;
$general-transition-in-out: 500ms ease-in-out;

/*TRANSITIONS*/
$general-transition: 300ms ease;
$transition-in-out: 300ms ease-in-out;
$transition-out-in: 300ms ease-out-in;
