//transition
$general-transition-in: all 300ms ease-in;
$general-transition-in-out: all 500ms ease-in-out;

/*TRANSITIONS*/
$general-transition: all 300ms ease;
$transition-in-out: all 300ms ease-in-out;
$transition-out-in: all 300ms ease-out-in;
